<ion-header>
  <ion-navbar>
    <ion-title>{{league.name}}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="active">
      <ion-segment-button *ngIf="hasTable" value="table">Tabelle</ion-segment-button>
      <ion-segment-button value="fixture">Spielplan</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table *ngIf="hasTable && active == 'table'" class="list-md">
    <thead>
      <tr>
        <td>Rang</td>
        <td>Mannschaft</td>
        <td class="center">Beg.</td>
        <td class="center">Punkte</td>
      </tr>
    </thead>
    <tbody>
      <tr class="item-md" tappable *ngFor="let club of data.clubs" (click)="onSelect(club)">
        <td>{{club.rank}}</td>
        <td>{{club.name}}</td>
        <td class="center">{{club.nrOfGames}}</td>
        <td class="center">{{club.score}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="!hasTable || active == 'fixture'" class="list-md">
    <thead>
      <tr>
        <td>Datum</td>
        <td>Heim / Gast</td>
        <td>Spiele</td>
      </tr>
    </thead>
    <tbody>
      <tr class="item-md" *ngFor="let game of data.games" (click)="openGame(game)">
        <td>{{game.date | shortDate}}</td>
        <td>
          <span [class.winner]="homeWinner(game)">{{game.home}}</span><br>
          <span [class.winner]="guestWinner(game)">{{game.guest}}</span>
        </td>
        <td>{{game.result}}</td>
      </tr>
    </tbody>
  </table>

</ion-content>
