<ion-header>
  <ion-navbar>
    <ion-title>{{player.name}}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="active">
      <ion-segment-button value="overview">Übersicht</ion-segment-button>
      <ion-segment-button value="single">Einzel</ion-segment-button>
      <ion-segment-button value="double">Doppel</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="active == 'overview'">
    <table class="list-md">
      <tr>
        <td>Klassierung</td>
        <td><elo-score [score]="data.classification"></elo-score>
      </tr>
      <tr>
        <td>Klassierung (aktuell)</td>
        <td>
          <elo-score [score]="data.elo?.start | elo"></elo-score>
          ({{data.elo?.start}})</td>
    </table>

    <elo-chart [data]="elo"></elo-chart>

    <h4>Mannschaftseinsätze</h4>
    <table>
      <tr *ngFor="let league of data.teams" (click)="openLeague(league)">
        <td>{{league.name}}</td>
      </tr>
    </table>

    <h4>Einzelbilanzen</h4>
    <table>
      <tr *ngFor="let item of data.balance">
        <td>{{item.team}}</td>
        <td>{{item.data}}</td>
      </tr>
    </table>
  </div>

  <table *ngIf="active == 'single'" class="list-md">
    <thead>
      <tr>
        <td>Gegner</td>
        <td class="center">Klass.</td>
        <td class="center">Sätze</td>
      </tr>
    </thead>
    <tbody>
      <tr class="item-md" *ngFor="let match of data.singles" (click)="openPlayer(match)">
        <td>{{match.opponent}}</td>
        <td class="center"><elo-score [score]="match.opponentClass"></elo-score></td>
        <td class="center">{{match.sets}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="active == 'double'" class="list-md">
    <thead>
      <tr>
        <td>Partner</td>
        <td>Gegner</td>
        <td class="center">Sätze</td>
      </tr>
    </thead>
    <tbody>
      <tr class="item-md" *ngFor="let match of data.doubles" (click)="onSelect(match)">
        <td>{{match.partner}}</td>
        <td>{{match.opponent1}}<br>{{match.opponent2}}</td>
        <td class="center">{{match.sets}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
